/*
 * Credit: @wheatup
 * Source: https://codepen.io/wheatup/pen/abMKaQp
*/

.light-rays > *::before,
main .light-rays {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.light-rays {
  pointer-events: none;
  filter: blur(0.6rem);
}

.light-rays > * {
  --deg: 0;
  --length: 0rem;
  --thickness: 20px;
  --duration: 2s;
  --delay: 1s;
  --rotate: 0deg;
  --degRange: 72.5deg;
  --spreadRange: 40vw;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 500px;
  width: var(--thickness);
  height: calc(20% + 370px + var(--length));
  left: 50%;
  transform: translateX(
      calc(
        -50% + var(--deg) * var(--spreadRange) * -1 + 0.5 * var(--spreadRange)
      )
    )
    translateY(-100px)
    rotateZ(calc(var(--degRange) * -0.5 + var(--deg) * var(--degRange)))
    rotateX(0.01deg);
  transform-origin: center -100px;
  mix-blend-mode: screen;
  -webkit-animation:
    shimmer linear var(--duration) calc(var(--delay) * -1) infinite alternate
      forwards,
    rotate ease-in-out calc(var(--duration) * 3.14) calc(var(--delay) * -1)
      infinite alternate forwards;
  animation:
    shimmer linear var(--duration) calc(var(--delay) * -1) infinite alternate
      forwards,
    rotate ease-in-out calc(var(--duration) * 3.14) calc(var(--delay) * -1)
      infinite alternate forwards;
}

.light-rays > *::before {
  content: "";
  background: linear-gradient(to bottom, #a6fff8, rgba(166, 255, 248, 0) 100%);
  transform-origin: top center;
  transform: rotateX(40deg);
}

.light-rays > *:nth-child(1) {
  --deg: 0.1855171964;
  --thickness: 10.8143148217px;
  --length: -12.322576868px;
  --duration: 2.1574341196s;
  --delay: 2.0193458353s;
  --rotate: -0.8823798793deg;
}

.light-rays > *:nth-child(2) {
  --deg: 0.099709446;
  --thickness: 9.3036973956px;
  --length: 13.6992062561px;
  --duration: 1.101253881s;
  --delay: 2.1104826546s;
  --rotate: 0.7494150212deg;
}

.light-rays > *:nth-child(3) {
  --deg: 0.3193185906;
  --thickness: 27.2503479766px;
  --length: -11.1589365008px;
  --duration: 2.027951141s;
  --delay: 2.7124565218s;
  --rotate: -1.6749893896deg;
}

.light-rays > *:nth-child(4) {
  --deg: 0.3439177847;
  --thickness: 18.721940911px;
  --length: 16.1671709721px;
  --duration: 1.1865127453s;
  --delay: 2.0912420312s;
  --rotate: -0.6440607163deg;
}

.light-rays > *:nth-child(5) {
  --deg: 0.9276548658;
  --thickness: 22.34369372px;
  --length: 16.3759206269px;
  --duration: 2.248035241s;
  --delay: 2.8822491899s;
  --rotate: -0.0986811744deg;
}

.light-rays > *:nth-child(6) {
  --deg: 0.7507704917;
  --thickness: 14.712226084px;
  --length: 30.9654867919px;
  --duration: 2.4048844668s;
  --delay: 2.2080021006s;
  --rotate: 3.6557685659deg;
}

.light-rays > *:nth-child(7) {
  --deg: 0.2066449511;
  --thickness: 19.5361707532px;
  --length: -1.4375898461px;
  --duration: 1.0153679955s;
  --delay: 2.7784236341s;
  --rotate: 2.0978241227deg;
}

.light-rays > *:nth-child(8) {
  --deg: 0.1638637365;
  --thickness: 17.0083318473px;
  --length: -16.7347891065px;
  --duration: 1.4850457381s;
  --delay: 2.404580042s;
  --rotate: 3.8063734047deg;
}

.light-rays > *:nth-child(9) {
  --deg: 0.9608840283;
  --thickness: 25.1137457547px;
  --length: 2.3898942111px;
  --duration: 1.8327296305s;
  --delay: 2.9781930383s;
  --rotate: -2.0150515588deg;
}

.light-rays > *:nth-child(10) {
  --deg: 0.5726718017;
  --thickness: 20.816240111px;
  --length: -45.6583272798px;
  --duration: 1.4947009319s;
  --delay: 2.313260324s;
  --rotate: 2.3582971661deg;
}

.light-rays > *:nth-child(11) {
  --deg: 0.1529711713;
  --thickness: 10.3103478024px;
  --length: -20.5081167206px;
  --duration: 2.2551700258s;
  --delay: 2.5533304293s;
  --rotate: -0.233634818deg;
}

.light-rays > *:nth-child(12) {
  --deg: 0.6801701506;
  --thickness: 22.8380001422px;
  --length: 39.3719297276px;
  --duration: 2.4634061859s;
  --delay: 2.4399281058s;
  --rotate: -0.0782022918deg;
}

.light-rays > *:nth-child(13) {
  --deg: 0.9934570598;
  --thickness: 10.6790436478px;
  --length: -36.8235138462px;
  --duration: 2.3269860477s;
  --delay: 2.6190079887s;
  --rotate: -3.2800517864deg;
}

.light-rays > *:nth-child(14) {
  --deg: 0.8624416313;
  --thickness: 14.631159379px;
  --length: 45.2895215921px;
  --duration: 1.2218332752s;
  --delay: 2.2313928516s;
  --rotate: 1.0345609187deg;
}

.light-rays > *:nth-child(15) {
  --deg: 0.3118967122;
  --thickness: 20.518141331px;
  --length: 3.8133470971px;
  --duration: 1.4081148592s;
  --delay: 2.6486775179s;
  --rotate: 3.090200429deg;
}

.light-rays > *:nth-child(16) {
  --deg: 0.9845234356;
  --thickness: 19.8024371617px;
  --length: -1.3721471536px;
  --duration: 1.6517836578s;
  --delay: 2.4504042119s;
  --rotate: -2.1262186485deg;
}

.light-rays > *:nth-child(17) {
  --deg: 0.0666680745;
  --thickness: 21.3515609211px;
  --length: -2.8713951467px;
  --duration: 1.4433655183s;
  --delay: 2.9967596289s;
  --rotate: 3.0636762028deg;
}

.light-rays > *:nth-child(18) {
  --deg: 0.4576416476;
  --thickness: 8.9446485749px;
  --length: 19.09733771px;
  --duration: 1.5970464695s;
  --delay: 2.6149318555s;
  --rotate: 2.996321825deg;
}

.light-rays > *:nth-child(19) {
  --deg: 0.2781431827;
  --thickness: 9.3533530506px;
  --length: 21.1535213632px;
  --duration: 1.7053865961s;
  --delay: 2.4128318615s;
  --rotate: 3.4960117268deg;
}

.light-rays > *:nth-child(20) {
  --deg: 0.9455929801;
  --thickness: 8.2424145339px;
  --length: 14.7878090695px;
  --duration: 2.4160517459s;
  --delay: 2.808394504s;
  --rotate: 1.0144726007deg;
}

.light-rays > *:nth-child(21) {
  --deg: 0.1505254009;
  --thickness: 27.946497291px;
  --length: 25.1106635968px;
  --duration: 2.4830285859s;
  --delay: 2.258913457s;
  --rotate: -1.5732908735deg;
}

.light-rays > *:nth-child(22) {
  --deg: 0.8505581868;
  --thickness: 27.3628535436px;
  --length: -38.5153236568px;
  --duration: 1.3182268591s;
  --delay: 2.9021931653s;
  --rotate: 2.5861320588deg;
}

.light-rays > *:nth-child(23) {
  --deg: 0.0912455652;
  --thickness: 10.3559281194px;
  --length: 11.9493439325px;
  --duration: 2.4269621034s;
  --delay: 2.0815001101s;
  --rotate: 2.9613659143deg;
}

.light-rays > *:nth-child(24) {
  --deg: 0.7207115202;
  --thickness: 13.8895007242px;
  --length: 0.3228426763px;
  --duration: 1.5179198766s;
  --delay: 2.1792490433s;
  --rotate: 3.3649231127deg;
}

.light-rays > *:nth-child(25) {
  --deg: 0.4028194113;
  --thickness: 24.8063658003px;
  --length: 33.2982551007px;
  --duration: 1.9063173385s;
  --delay: 2.1922910803s;
  --rotate: -0.7854043942deg;
}

.light-rays > *:nth-child(26) {
  --deg: 0.0927448655;
  --thickness: 9.3733143716px;
  --length: -11.6097155731px;
  --duration: 1.4120844297s;
  --delay: 2.9115575316s;
  --rotate: -3.9078734592deg;
}

.light-rays > *:nth-child(27) {
  --deg: 0.0607521576;
  --thickness: 29.5392903977px;
  --length: 20.935445186px;
  --duration: 1.2771006777s;
  --delay: 2.8038479495s;
  --rotate: -0.8412546829deg;
}

.light-rays > *:nth-child(28) {
  --deg: 0.7115678485;
  --thickness: 10.863136519px;
  --length: -4.4223800905px;
  --duration: 1.3931331939s;
  --delay: 2.064659733s;
  --rotate: 2.68720963deg;
}

.light-rays > *:nth-child(29) {
  --deg: 0.7248620617;
  --thickness: 20.9386767205px;
  --length: 14.1813204959px;
  --duration: 2.4282466459s;
  --delay: 2.0789879876s;
  --rotate: 1.3227303537deg;
}

.light-rays > *:nth-child(30) {
  --deg: 0.6425831085;
  --thickness: 9.6261542449px;
  --length: -1.9440673512px;
  --duration: 2.2094480359s;
  --delay: 2.3967885752s;
  --rotate: -3.7587607642deg;
}

.light-rays > *:nth-child(31) {
  --deg: 0.1086805193;
  --thickness: 21.3672237124px;
  --length: -47.1335694614px;
  --duration: 1.620336281s;
  --delay: 2.1124189432s;
  --rotate: 1.9815118702deg;
}

.light-rays > *:nth-child(32) {
  --deg: 0.6070008757;
  --thickness: 21.5081969774px;
  --length: 33.2743381751px;
  --duration: 2.4071355984s;
  --delay: 2.5357853976s;
  --rotate: 2.2254979544deg;
}

@-webkit-keyframes shimmer {
  0% {
    opacity: 0.33;
  }
  100% {
    opacity: 0.03;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.33;
  }
  100% {
    opacity: 0.03;
  }
}

@-webkit-keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: var(--rotate);
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: var(--rotate);
  }
}
